ve/
ve_radon/
.env
__pycache__
junk.py
junk.json
junk*.json
junk/
temp/
junk*
add_package.json
dest_pkgs.json
src_pkgs.json
dest_org.json
src_org.json
dest_users.json
src_users.json
add_package.json
updt_package.json
updt_group.json
.env*
logs/bcdc2bcdc.log
build/
bcdc2bcdc_dev.egg-info/
.vscode/.ropeproject/
projectid.json
bcdc2bcdc.egg-info/

dist/bcdc2bcdc-0.0.2.tar.gz
