[loggers]
keys=root,main,CKAN,CKANData,CKANTransform,CKANUpdate,DataCache,CustomTransformers,urllib3_connectionpool,CacheFiles

[handlers]
keys=consoleHandler
#, logFileHandler

[formatters]
keys=consoleFormatter

#----- LOGGERS

[logger_root]
level=INFO
handlers=consoleHandler

[logger_main]
level=DEBUG
handlers=consoleHandler
qualname=bcdc2bcdc.main
propagate=0

[logger_CKAN]
level=DEBUG
handlers=consoleHandler
qualname=bcdc2bcdc.CKAN
propagate=0

[logger_CKANData]
handlers=consoleHandler
qualname=bcdc2bcdc.CKANData
propagate=0
level=DEBUG
#level=DEBUGV

[logger_CKANTransform]
level=INFO
handlers=consoleHandler
qualname=bcdc2bcdc.CKANTransform
propagate=0

[logger_CKANUpdate]
level=DEBUG
handlers=consoleHandler
qualname=bcdc2bcdc.CKANUpdate
propagate=0

[logger_DataCache]
level=DEBUG
handlers=consoleHandler
qualname=bcdc2bcdc.DataCache
propagate=0

[logger_CustomTransformers]
level=DEBUG
handlers=consoleHandler
qualname=bcdc2bcdc.CustomTransformers
propagate=0

[logger_CacheFiles]
level=DEBUG
handlers=consoleHandler
qualname=bcdc2bcdc.CacheFiles
propagate=0

[logger_urllib3_connectionpool]
level=INFO
handlers=consoleHandler
qualname=urllib3.connectionpool
propagate=0

#----- HANDLERS

[handler_consoleHandler]
class=StreamHandler
formatter=consoleFormatter
args=(sys.stdout,)

#[handler_logFileHandler]
#class=FileHandler
#formatter=consoleFormatter
#args=('%(logfilename)s',)


#----- FORMATTERS

[formatter_consoleFormatter]
format=%(asctime)s - %(lineno)s - %(name)s - %(levelname)s - %(message)s
datefmt=%Y-%m-%d %H:%M:%S
class=logging.Formatter